@import '../../mixins';

div.scheduleLayout {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.scheduleContent {
  width: 100%;
  height: calc(100vh - 270px);
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #cfcfcf;
}
